<div class="d-flex justify-content-center">
  <form (ngSubmit)="onSubmission()" [formGroup]="contactForm"  aria-autocomplete="none">
    <div class="card justify-content-center" style="width: 35rem;">
      <img class="card-img-top" src="../../assets/images/contactus.png" alt="Card image cap" width="305" height="180">
      <div class="card-body">
        <h5 class="card-title">Contact Form</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
      <!--
      Reactive form - Code driven instead of template driven.
      From the documentation
      Each change to the form state returns a new state, which maintains the integrity of the model between changes.
      Reactive forms are built around observable streams, where form inputs and values are provided as streams of
      input values, which can be accessed synchronously.
      Use form control to set values in the coponent programmatically.
    -->

      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <input type="text" name="name" #name formControlName="name" placeholder="Name" required
            aria-describedby="nameHelp" [ngClass]="{ 'errorInput': isNameValid()} " />
          <small id="nameHelp" class="form-text text-muted">What you would like us to address you as?</small>
        </li>
        <li class="list-group-item">
          <input type="email" #email name="email" formControlName="email" placeholder="Email"
            aria-describedby="emailHelp" required [ngClass]="{ 'errorInput': isEmailValid()}" />
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </li>

        <li class="list-group-item">
          <textarea name="comment" #comment id="taComments" formControlName="comment" placeholder="Comments" rows="10"
            class="form-control" required></textarea>
        </li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">
          <input type="submit" value="Submit" [disabled]="!contactForm.valid" class="btn btn-primary">
        </a>
        <a href="#" class="card-link">
          <input type="button" value="Reset" class="btn btn-secondary" (click)="onReset()">
        </a>
      </div>
    </div>
  </form>
</div>
