<!-- Deliberately no user identifiable information has been put. -->
<div class="container">
  
  <div class="d-flex bd-highlight">
    <form #registerUser="ngForm" action="" class="form-group">
      
      <div class="d-flex flex-row">
        <img id="profilePic" src="https://via.placeholder.com/80" class="img-thumbnail d-none d-md-block imgSize mb-2 justify-content-start">
        <div *ngIf="loggedIn !=false" class="d-block align-self-center pl-2">
          <span class="shadow-lg p-3 mb-5 bg-white rounded">
            Welcome {{user.user.email}}!
          </span>
        </div>
      </div>
      
      <!-- First Name & Last Name -->
      <div class="input-group d-flex flex-row">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">First and last name</span>
        </div>
        <input type="text" class="form-control" id="name" [(ngModel)]="user.profile.name" name="name" required>
        <input type="text" class="form-control" [(ngModel)]="user.profile.lastName" name="lastName" id="surname">
      </div>

      <!-- Email Address -->
      <div class="form-group pt-2">
        <label for="inputEmail">Email address</label>
        <input type="email" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" id="email"
          [(ngModel)]="user.user.email"
          placeholder="Enter email"
          required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <!-- Password and confirm password -->
      <div class="form-group pt-2" *ngIf="loggedIn === false">
        <label for="inputPassword" class="pt-2">Password</label>
        <input type="password" name="password" class="form-control" id="inputPassword1" [(ngModel)]="user.user.password" placeholder="Password">
        <label for="inputPassword" class="pt-2">Confirm</label>
        <input type="password" class="form-control" name="cp" id="inputPassword2" placeholder="" required [(ngModel)]="confirmPassword" [ngClass]="{invalid: !isPasswordValid()}" required>
      </div>

      <!-- Profile Image -->
      <div class="form-group" *ngIf="loggedIn === false">
        <label for="imageFile">Please select a profile pic</label>
        <input type="file" class="form-control-file" id="imageFile" name="imageUrl" [(ngModel)]="user.profile.imageUrl">
      </div>

      <!-- Subscribe to the EMAIL list.-->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" aria-label="Checkbox for following text input" value="false" name="subscription" [(ngModel)]="user.details.subscribeToEmail">
          </div>
        </div>
        <input readonly type="text" class="form-control" aria-label="Text input with checkbox"
          value="Do you wish to subscribe to our newsletter?" id="newsLetter" name="labelSubscription">
      </div>

      <!-- About you. -->
      <div class="input-group my-2">
        <div class="input-group-prepend">
          <span class="input-group-text">Description</span>
        </div>
        <textarea class="form-control" aria-label="With textarea" id="description" name="description" [(ngModel)]="user.details.description"></textarea>
      </div>

      <!-- Social symbols. -->
      <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">
              <fa-icon [icon]="faGit"></fa-icon>
            </span>
          </div>
          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="gitUrl" name="gitProfile" [(ngModel)]="user.details.gitProfile">
        </div>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">
              <fa-icon [icon]="faGoogle"></fa-icon>
            </span>
          </div>
          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="googleUrl" name="googleProfile" [(ngModel)]="user.details.googleProfile">
      </div>

      <!-- Submit -->
      <button type="submit" class="btn btn-primary" [disabled]="!registerUser.valid">Submit</button>
    </form>
  </div>
  {{user | json}}
  <div>
    <input type="button" value="ZenCall" (click)="callGitZen()">
    <span class="d-block" *ngIf="config != null"> {{ config }}</span>
  </div>
</div>
