header{
	position:relative;
}

.navigation {
	margin:0 0 0;
	padding:0;
}

#navigation .navbar {
	padding:0;
	margin:0;

}

.navbar.navbar-inverse {
	padding:10px 0;
	margin:0;

}
.navbar-brand {
  float: left;
  height: auto;
  padding: 0;
  font-size: 20px;
  line-height: 1em;
}

.navbar-collapse {
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.navbar .navbar-brand {
	font-weight: 900;
	color: #fff;
	margin: 15px 0 0;
	font-size: 28px;
}
.navbar .navbar-brand:focus {
	outline: 0;
}

.navbar-nav {
  margin-top: 0!important;
  padding:0;

}
.navbar-nav > li > a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1em;
}

.navbar .nav > li > a,
.navbar .nav > li > a:visited {
    padding: 28px 13px 27px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    -webkit-box-shadow: 0 none;
    box-shadow: 0 none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:active,
.navbar .nav > li.active > a {
    text-decoration: none;
    background: none !important;
    outline: 0 none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.default {
	background:#010101;
	border-bottom:1px solid transparent;
	opacity: 0.8;
}



.fixed {
	position: fixed;
	background:#2a2a2a;
	border:none;
	top:0;
	left: 0;
	width: 100%;
	box-shadow: 0 0 10px #666;
	-webkit-box-shadow: 0 0 10px #666;
	-moz-box-shadow: 0 0 10px #666;
}

[class^="icon-"],
[class*=" icon-"] {
    float:none;

}

ul.the-icons {
	list-style:none;
	margin-left:0;
}

[class^="icon-"],
[class*=" icon-"] {
    float:none;

}

.icon-square,
.icon-rounded,
.icon-plain,
.icon-circled {
    margin: 10px 10px 10px 0;
    display: inline-block !important;
    text-align: center !important;
    color: #fff;
    width: 18px;
    height: 18px;
	padding:3px;
    font-size: 12px;
    line-height: 18px;
    text-shadow:none;
    cursor: pointer;
}

.icon-rounded  {
    background-color: #444;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.icon-circled {
    background-color: #444;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.icon-square {
    background-color: #444;
}
.icon-plain {
    width: 48px;
    height: 48px;
    font-size: 47px;
    line-height: 50px;
    color: #444;
    text-shadow: 1px 1px 1px #FFF;
}

.icon-plain:hover { color: #777; }

/* circled radius */
.icon-circled {
    border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
}
.icon-32.icon-circled {
    border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
}
.icon-64.icon-circled {
    border-radius: 32px;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
}
.icon-128.icon-circled {
    border-radius: 64px;
    -moz-border-radius: 64px;
    -webkit-border-radius: 64px;
}

.icon-light {
    background-color: #F5F5F5;
    color: #444;
    text-shadow: 1px 1px 1px #fff;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
}


.icon-rounded:hover,
.icon-circled:hover {
    color: #fff;
    text-shadow: none;
    box-shadow: 0 0 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0.2);
}

.demoicon [class^="icon-"],
.demoicon [class*=" icon-"],
[class^="icon-"].left,
[class*=" icon-"].left {
    float:left;
}
[class^="icon-"].active:hover,
[class*=" icon-"].active:hover {
    background-color: rgba(0, 0, 0, 0.75);
}
[class^="icon-"],
[class*=" icon-"] {
  margin-top: 1px;
  margin-right: .3em;
}

/* custom size */
.icon-32 {
    width: 20px;
    height: 20px;
	padding:6px;
    font-size: 16px;
    line-height: 20px;
}
.icon-48 {
    width: 32px;
    height: 32px;
	padding:8px;
    font-size: 28px;
    line-height: 30px;
}
.icon-64 {
    width: 40px;
    height: 40px;
	padding:12px;
    font-size: 30px;
    line-height: 40px;
}
.icon-128 {
    width: 56px;
    height: 56px;
	padding:36px;
    font-size: 54px;
    line-height: 60px;
}





/* boxed */


.boxed h3{
	margin-bottom:0;
}

.boxed h4{
	color:#a9a9a5;
	font-size: 20px;
	text-shadow: 0 1px 0 #ffffff;
	margin-bottom:10px;
}

.offer-box{
	width:20.95%;
	padding:2%;
	float:left;
	background:#000000;
	border-left:1px solid #fff;
	color:#cbcbcb;
}

.offer-box h3, .offer-box h4{
	color:#fff;
	border-bottom:1px solid #fff;
	padding-bottom:15px;
}

.offer-box-first{
	border-left:none;
}

.special-box{
	color:#fcfcfc;
	position:relative;
	border-left:none;
}

.special-box:after{
	content:"";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	top:0;
	right:-40px;
	width:0;
	height:0;
	border-width:0 0 30px 40px ;
	border-style:solid;
}
