<div class="card bg-dark text-white">
    <img class="card-img" src="./assets/images/learn_together.jpeg" alt="Card image">
    <div class="card-img-overlay mx-auto">
      <div class="card border-secondary d-flex mx-md-auto ml-sm-0 boxSize" style="width: 20rem;">
        <div class="card-body cardLogin">
          <div>
            <span class="mx-auto">Sign In With</span>
            <a href="#" class="btn">
              <fa-icon [icon]="faFacebook" size="2x"></fa-icon>
            </a>
            <a href="#" class="btn">
              <fa-icon [icon]="faGoogle" size="2x"></fa-icon>
            </a>
          </div>
          <hr />
          <form [formGroup]="formLogin" (ngSubmit)="doLogin()" >
            <div class="card-text">
              <div class="form-group d-block d-sm-inline">
                <input type="email" name="username" formControlName="username" class="form-control" id="username" aria-describedby="usernameHelp"
                  placeholder="Username: Email" [ngClass]="{ 'errorInput': !isUsernameValid()}" required>
                <small id="usernameHelp" class="form-text text-muted d-none d-md-block">The unique username provided to
                  you.</small>
              </div>
              <div class="form-group d-block d-sm-inline">
                <input type="password" name="password" formControlName="password" class="form-control" id="inputPassword" placeholder="Password"
                  aria-describedby="passwordHelp" required [ngClass]="{ 'errorInput': !isPasswordValid()}">
                <small id="passwordHelp" class="form-text text-muted d-none d-md-block">Your secure password.</small>
              </div>
            </div>

              <div class="inlineD">
                <a id="exampleCheck1" href=""><small>Forgot password?</small></a>
              </div>
              <div class="inlineD dx-sm-auto">
                <button type="submit" class="btn btn-primary" [disabled]="!isFormValid()">Submit</button>
              </div>
          </form>
        </div>
      </div>
    </div>
