<section id="intro">

    <div class="card bg-light text-black border-dark">
        <img class="card-img card-img-bottom size-check" src="../../assets/images/Free.Time.png" alt="Card image">
        <div class="card-img-overlay">
          <h1 class="card-title">Free.Time</h1>
          <p class="card-text">
            Some crave for the latest technologies, some crave for the knowledge - free of syntax, some crave for a healthy
            mix of hands-on and wealthy experience. In some way or the other, we all are handled by the inner cravings and to decide what works for an individual, it
            is usually a crowd copy that is employed. My friend just tried this, my friend just tried that. It might work
            for some, but for manjority it is a futile exercise. In one such new and spiritied efforts, we are trying to collate
            our collective energies to learn and build a platform to share, highlight, and advertise the knowledge we have accumulated, and to wisely
            build upon our professional social presence.
          </p>
          <hr/>
          <p class="card-text">@Free.Time</p>
        </div>
      </div>
</section>
