imgSize {
  min-width: 80px;
  max-width: 85px;
  min-height: 80px;
  max-height: 85px;
  float: right;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form), invalid  {
  border-left: 5px solid #a94442; /* red */
}
